.logo-menulist{
	display:inline;	
	height: 50px;
	width: auto;
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}



.notosnas-regular{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
}

@media screen and (max-width: 400px) {
	.logo-menulist{
    	padding-top:10px;
		display:inline;	
		height: 50px;
		width: auto;
		-webkit-background-size: 100%;
	    -moz-background-size: 100%;
	    -o-background-size: 100%;
	    background-size: 100%;
	}
}